<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.maximusteam.tripfulaxel.livechat.model.dao.ChatMapper">
	
	<resultMap type="com.maximusteam.tripfulaxel.livechat.model.dto.ChatRoomDTO" id="chatRoom">
		
		<result property="roomTitle" column="CHAT_ROOM_TITLE"/>
		<result property="roomCode" column="CHAT_ROOM_CODE"/>
	
		<collection property="joinUserList" ofType="com.maximusteam.tripfulaxel.livechat.model.dto.ChatJoinUserDTO">
			<result property="userCode" column="USER_CODE"/>
			<result property="userEmail" column="USER_EMAIL"/>
		</collection>
		
		<collection property="messageList" ofType="com.maximusteam.tripfulaxel.livechat.model.dto.ChatMessageDTO">
			<result property="messageContent" column="MESSAGE_CONTENT"/>
			<result property="messageDate" column="MESSAGE_DATE"/>
			<result property="userCode" column="USER_CODE"/>
			<result property="userEmail" column="USER_EMAIL"/>
		</collection>
		
	</resultMap>
	
	<select id="selectChatRoom" parameterType="Map" resultMap="chatRoom">
		SELECT DISTINCT
			   cr.CHAT_ROOM_CODE,
			   cr.CHAT_ROOM_TITLE
		 <if test="roomCode gt 0">
			 , m.USER_CODE,
			   u.USER_EMAIL,
			   m.MESSAGE_CODE,
			   m.MESSAGE_CONTENT,       
			   m.MESSAGE_DATE 
		 </if>
		<choose>
			<when test="roomCode gt 0">
				FROM MESSAGE m
			    JOIN CHAT_ROOM cr ON (m.CHAT_ROOM_CODE = cr.CHAT_ROOM_CODE)
			    JOIN CHAT_JOIN cj ON (m.CHAT_ROOM_CODE = cj.CHAT_ROOM_CODE)
			    JOIN `USER` u ON (m.USER_CODE = u.USER_CODE)
			   WHERE cr.CHAT_ROOM_CODE = #{roomCode}
			</when>
			<otherwise>
				FROM CHAT_ROOM cr
			</otherwise>
		</choose>
	</select>
	
	<insert id="insertMessage" parameterType="com.maximusteam.tripfulaxel.livechat.model.dto.ChatMessageDTO">
		
		<selectKey keyColumn="messageMaxCode" keyProperty="messageMaxCode" resultType="int" order="BEFORE">
			SELECT
				   MAX(MESSAGE_CODE) + 1 as messageMaxCode
			  FROM MESSAGE
		</selectKey>
		
		INSERT
		  INTO MESSAGE
		(
		  MESSAGE_CODE
		, MESSAGE_DATE
		, CHAT_ROOM_CODE
		, USER_CODE
		, MESSAGE_CONTENT
		)
	    VALUES
	    (
	      #{messageMaxCode}
	    , #{message.messageDate}
	    , #{message.roomCode}
	    , #{message.userCode}
	    , #{message.messageContent}
	    )
	</insert>
	
</mapper>