<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maximusteam.tripfulaxel.guide.model.dao.GuideMapper">

	<insert id="insertGuideImage" parameterType="TripImageDTO">
	    <selectKey resultType="int" keyProperty="imageCode" order="AFTER">
	    	SELECT MAX(GUIDE_IMAGE_CODE) as imageCode FROM GUIDE_IMAGE
	    </selectKey>
	    INSERT INTO GUIDE_IMAGE
	    (
	    	  GUIDE_IMAGE_CODE
	        , GUIDE_IMAGE_SAVED_NAME
	        , GUIDE_IMAGE_TYPE_CODE
	        , GUIDE_IMAGE_ORIGIN_NAME
	        , USER_CODE
	    )
	    VALUES
	    (
	          (SELECT IFNULL(MAX(b.GUIDE_IMAGE_CODE) + 1, 1) FROM GUIDE_IMAGE b)
	        , #{savedName}
	        , #{imageTypeCode}
	        , #{originName}
	        , #{refCode}
	    )
	</insert>
	
	<insert id="insertTripImage" parameterType="TripImageDTO">
		<selectKey resultType="int" keyProperty="imageCode" order="AFTER">
	    	SELECT MAX(TRIP_IMAGE_CODE) as imageCode FROM TRIP_IMAGE
	    </selectKey>
	    INSERT INTO TRIP_IMAGE
	    (
	    	  TRIP_IMAGE_CODE
	    	, TRIP_IMAGE_SAVED_NAME
	    	, TRIP_IMAGE_TYPE_CODE
	    	, TRIP_IMAGE_ORIGIN_NAME
	    )
	    VALUES
	    (
	          (SELECT IFNULL(MAX(b.TRIP_IMAGE_CODE) + 1, 1) FROM TRIP_IMAGE b)
	        , #{savedName}
	        , #{imageTypeCode}
	        , #{originName}
	    )
	</insert>
	
	<!-- INSERT GUIDE -->
	<insert id="insertGuide" parameterType="GuideDTO">
		<selectKey resultType="int" keyProperty="guideCode" order="AFTER">
	    	SELECT MAX(GUIDE_CODE) as guideCode FROM GUIDE
	    </selectKey>
	    INSERT INTO GUIDE
	    (
	    	  GUIDE_CODE
	    	, GUIDE_CAR_YN
			, GUIDE_EXP_YN
			, GUIDE_NICKNAME
			, GUIDE_INTRO
			, USER_CODE
			, GUIDE_YN
			, GUIDE_LEVEL_CODE
			, RESIDENCE_PERIOD_CODE
	    )
	    VALUES
	    (
	          (SELECT IFNULL(MAX(b.GUIDE_CODE) + 1, 1) FROM GUIDE b)
	        , #{carYn}
	        , #{expYn}
	        , #{nickname}
	        , #{intro}
	        , #{userCode}
	        , #{guideYn}
	        , #{levelCode}
	        , #{periodCode}
	    )
	</insert>
	
	<!-- INSERT TRIP -->
	<insert id="insertTrip" parameterType="TripDTO">
		<selectKey resultType="int" keyProperty="tripCode" order="AFTER">
	    	SELECT MAX(TRIP_CODE) as tripCode FROM TRIP
	    </selectKey>
	    INSERT INTO GUIDE
	    (
	    	 , TRIP_CODE
			 , TRIP_TITLE
			 , TRIP_INTRO
			 , TRIP_START_DATE
			 , TRIP_MEET_LOCATION
			 , TRIP_INCLUDE
			 , TRIP_N_INCLUDE
			 , TRIP_END_DATE
	    )
	    VALUES
	    (
	          (SELECT IFNULL(MAX(b.TRIP_CODE) + 1, 1) FROM TRIP b)
	        , #{carYn}
	        , #{expYn}
	        , #{nickname}
	        , #{intro}
	        , #{userCode}
	        , #{guideYn}
	        , #{levelCode}
	        , #{periodCode}
	    )
	</insert>
	<!-- int insertTrip(TripDTO tripDTO);
	int insertTripRegistList(TripRegistListDTO tripRegistListDTO);
	int insertExamine(ExamineDTO examineDTO);
	int insertGuideTrip(GuideTripDTO guideTripDTO);
	int insertTheme(TripThemeChoiceDTO tripThemeChoiceDTO);
	int insertTransit(TripTransitChoiceDTO tripTransitChoiceDTO);
	int insertCourseImage(TripCourseDTO tripCourseDTO); 
	 -->
</mapper>
    