<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
		<typeAlias alias="AdminDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.AdminDTO"/>
		<typeAlias alias="MemberDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.MemberDTO"/>
		<typeAlias alias="ReportDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.ReportDTO"/>
		<typeAlias alias="GuideDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.GuideDTO"/>
		<typeAlias alias="GuideEnrollDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.GuideEnrollDTO"/>
		<typeAlias alias="CalculateDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.CalculateDTO"/>
		<typeAlias alias="TaxDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.TaxDTO"/>
		<typeAlias alias="AdminAnswerDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.AdminAnswerDTO"/>
  		<typeAlias alias="UserDTO" type="com.maximusteam.tripfulaxel.user.model.dto.UserDTO"/>	
  		<typeAlias alias="EmailDTO" type="com.maximusteam.tripfulaxel.user.model.dto.EmailDTO"/>	
  		<typeAlias alias="GuideImageDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.GuideImageDTO"/>	
  	</typeAliases>

 	
 </configuration>