<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
		<typeAlias alias="AdminDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.AdminDTO"/>
		<typeAlias alias="MemberDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.MemberDTO"/>
		<typeAlias alias="ReportDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.ReportDTO"/>
		<typeAlias alias="GuideDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.GuideDTO"/>
		<typeAlias alias="ExamineDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.ExamineDTO"/>
		<typeAlias alias="GuideEnrollDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.GuideEnrollDTO"/>
		<typeAlias alias="CalculateDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.CalculateDTO"/>
		<typeAlias alias="TaxDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.TaxDTO"/>
		<typeAlias alias="LevelUpDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.LevelUpDTO"/>
		<typeAlias alias="AdminAnswerDTO" type="com.maximusteam.tripfulaxel.admin.model.dto.AdminAnswerDTO"/>
  		<typeAlias alias="UserDTO" type="com.maximusteam.tripfulaxel.user.model.dto.UserDTO"/>	
  		<typeAlias alias="GuideDTO_" type="com.maximusteam.tripfulaxel.guide.model.dto.GuideDTO"/>	
  		<typeAlias alias="GuideStyleChoiceDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.GuideStyleChoiceDTO"/>	
  		<typeAlias alias="GuideTripDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.GuideTripDTO"/>	
  		<typeAlias alias="TripCourseDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.TripCourseDTO"/>	
  		<typeAlias alias="TripDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.TripDTO"/>	
  		<typeAlias alias="TripImageDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.TripImageDTO"/>	
  		<typeAlias alias="TripRegistListDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.TripRegistListDTO"/>	
  		<typeAlias alias="TripThemeChoiceDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.TripThemeChoiceDTO"/>	
  		<typeAlias alias="TripReviewDTO" type="com.maximusteam.tripfulaxel.user.model.dto.TripReviewDTO"/>	
  		<typeAlias alias="ReviewImgDTO" type="com.maximusteam.tripfulaxel.user.model.dto.ReviewImgDTO"/>
  		<typeAlias alias="TripTransitChoiceDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.TripTransitChoiceDTO"/>	
  		<typeAlias alias="UserTripAloneDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.UserTripAloneDTO"/>	
  		<typeAlias alias="UserTripTogetherDTO" type="com.maximusteam.tripfulaxel.guide.model.dto.UserTripTogetherDTO"/>	
  		<typeAlias alias="UserApiDTO" type="com.maximusteam.tripfulaxel.api.model.dto.UserApiDTO"/>	
  	</typeAliases>
  	
 	
 </configuration>