<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.maximusteam.tripfulaxel.user.model.dao.GuidePageMapper">
 
 	<resultMap type="TripReviewDTO" id="tripReviewResult">
 	<result property="reviewCode" column="TRIP_REVIEW_CODE"/>
 	<result property="reviewContent" column="TRIP_REVIEW_CONTENT"/>
 	<result property="reviewDate" column="TRIP_REVIEW_DATE"/>
 	<result property="reviewGrade" column="TRIP_REVIEW_GRADE"/>
 	<result property="reviewTitle" column="TRIP_REVIEW_TITLE"/>
 	<result property="tripApply" column="TRIP_REVIEW_CODE"/>
 	<result property="replycode" column="TRIP_REPLY_CODE"/>
 	<result property="replyDetail" column="TRIP_REPLY_DETAIL"/>
 	<result property="replyDate" column="TRIP_REPLY_DATE"/>
 	<result property="tripRegistListCode" column="TRIP_REGIST_LIST_CODE"/>
 	<result property="joinTripcode" column="JOIN_TRIP_APPLY_CODE"/>
 	<result property="joinTripDate" column="JOIN_TRIP_DATE"/>
 	<result property="joinTripCancel" column="JOIN_TRIP_CANCEL_YN"/>
 	<result property="joinTripAttend" column="JOIN_TRIP_ATTEND_YN"/>
 	<result property="joinTripReason" column="JOIN_TRIP_REASON"/>
 	
 	
  <collection property="guideList" ofType="com.maximusteam.tripfulaxel.user.model.dto.UserDTO">
	  <result column="USER_CODE" property="userCode" />
      <result column="USER_NAME" property="userName" />
      <result column="USER_PHONE" property="userPhone" />
      <result column="USER_PWD" property="userPwd" />
      <result column="USER_BDAY" property="userBday" />
      <result column="USER_GENDER" property="userGender" />
      <result column="USER_EMAIL" property="userEmail" />
      <result column="USER_REGISTER_DAY" property="userRegisterDay" />
      <result column="USER_REPORT_COUNT" property="userReportCount" />
      <result column="USER_GUIDE_YN" property="userGuideYN" />
	</collection> 
	
	<collection property="reviewImgList" ofType="com.maximusteam.tripfulaxel.user.model.dto.ReviewImgDTO">
	<result column="REVIEW_IMAGE_CODE" property="reviewImgCode"/>
	<result column="REVIEW_IMAGE_SAVED_NAME" property="reviewsaved"/>
	<result column="REVIEW_IMAGE_ORIGIN_NAME" property="reviewOrigin"/>
	</collection>
 	
 	</resultMap>
 	
 	<!-- 후기 SELECT   -->
 	<select id="selectGuideReview" resultMap="tripReviewResult" parameterType="TripReviewDTO">
 		SELECT 
                A.TRIP_REVIEW_TITLE 
              , A.TRIP_REVIEW_CONTENT
              , A.TRIP_REVIEW_DATE
              , A.TRIP_REVIEW_GRADE
              , C.USER_NAME
              , D.REVIEW_IMAGE_SAVED_NAME
              , E.TRIP_REPLY_DETAIL
        FROM TRIP_REVIEW A  LEFT JOIN TRIP_REPLY E ON A.TRIP_REVIEW_CODE = E.TRIP_REVIEW_CODE ,
        JOIN_TRIP_APPLY B , USER C , REVIEW_IMAGE D
        WHERE A.JOIN_TRIP_APPLY_CODE = B.JOIN_TRIP_APPLY_CODE
        AND B.USER_CODE = C.USER_CODE
        AND A.TRIP_REVIEW_CODE = D.TRIP_REVIEW_CODE
 	</select>
 	
 	<!-- 후기 댓글  -->
    <insert id="insertReply" parameterType="com.maximusteam.tripfulaxel.user.model.dto.TripReviewDTO">
	 <selectKey resultType="int"  keyProperty="replyCode" order="BEFORE">
	 	SELECT MAX(TRIP_REPLY_CODE) + 1 FROM TRIP_REPLY
	 </selectKey>
	 	INSERT INTO TRIP_REPLY
	 	(
	 	    TRIP_REPLY_CODE
	 	  , TRIP_REPLY_DETAIL
	 	  , TRIP_REPLY_DATE
	 	)
	 	VALUES
	 	(
	 		 #{replyCode}
	 	   , #{replyDetail}
	 	   , NOW()
	 	)
	 	
	 
   </insert>
 	
 	
 </mapper>